<%= form.error_notification %>
<div class="input-group">
  <label class="input-group-btn" for="spending_created_at">
    <span class="btn btn-default">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </label>
  <%= form.text_field :created_at, label: false, class: "form-control datepicker" %>
</div>

<%= form.input :name, autofocus: true, placeholder: "Name" %>
<%= form.input :amount %>
<%= form.association :category, collection: Category.all.where(user: current_user).order(:name), prompt: "Choose a category" %>
