<tr>
  <td><%= number_to_currency(spending.amount, locale: :pl) %></td>
  <td class="span4"><%= spending.name %></td>
  <td class="span4"><%= spending.category_name %></td>
  <td class="span2"><%= spending.created_at.strftime("%d-%m-%Y") %></td>
  <td class="span2">
    <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_spending_path(spending) %>
    <%= link_to "<i class='fa fa-trash'></i>".html_safe, spending, method: :delete, data: { confirm: "Are you sure?" }, class: "pull-right" %>
  </td>
</tr>
