<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="container" id="features">
      <div class="row">
        <div class="col-md-4 feature jumbotron" id="today_feature">
          <h3>Today</h3>
          <div class="title_border"></div>
          <p><%= Date.today.strftime("%A, %b %-d") %></p>
          <a href="#dailySpendingsModal" role="button" class="btn btn-lg" data-toggle="modal">
            <%= number_to_currency(@daily_spendings.sum(:amount), locale: :pl) %>
          </a>
        </div>
        <div class="col-md-4 feature jumbotron" id="weekly_feature">
          <h3>This Week</h3>
          <div class="title_border"></div>
          <p><%= Time.zone.now.beginning_of_week.strftime("%b %d") + " - " + Time.zone.now.end_of_week.strftime("%b %d") %></p>
          <a href="#weeklySpendingsModal" role="button" class="btn btn-lg" data-toggle="modal">
            <%= number_to_currency(@weekly_spendings.sum(:amount), locale: :pl) %>
          </a>
        </div>
        <div class="col-md-4 feature jumbotron" id="monthly_feature">
          <h3>This Month</h3>
          <div class="title_border"></div>
          <p><%= Date.today.strftime("%B %Y") %></p>
          <a href="#monthlySpendingsModal" role="button" class="btn btn-lg" data-toggle="modal">
            <%= number_to_currency(@spendings_this_month.sum(:amount).values.sum, locale: :pl) %>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 feature jumbotron">
          <i class="fa fa-line-chart"></i>
          <h3>All spendings this month</h3>
          <div class="title_border"></div>
          <p><%= Date.today.strftime("%B %Y") %></p>
          <p><%= line_chart @spendings_this_month.sum(:amount) %></p>
        </div>
        <%= render "dashboard_modal" %>
      </div>
  </body>
</html>
