<div class="row">
<h3 class="page-header">
  <span>
    <select class="form-control" name="year" id="year-select" onchange="" size="1">
      <option selected value="" disabled><%= @year %></option>
      <% [2016, 2017, 2018, 2019].each do |year| %>
        <% if year != @year %>
          <option value="<%= year %>"><%= year %></option>
        <% end %>
      <% end %>
    </select>
  </span>
</h3>

<%= render partial: "partial/head" %>
<div class="container" id="features">
  <div class="row">
    <div class="col-md-12 feature jumbotron">
      <h3>Spendings by category</h3>
      <div class="title_border"></div>
      <%= pie_chart @categories_chart, height: "450px;", legend: "bottom" %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6 feature jumbotron">
      <h3>Spendings by date</h3>
      <div class="title_border"></div>
      <%= line_chart @spendings_by_date %>
    </div>
    <div class="col-md-6 feature jumbotron">
      <h3>Spendings by day of week</h3>
      <div class="title_border"></div>
      <%= column_chart @spendings_by_day_of_week %>
    </div>
  </div>
<br />
