<%# place for nav. links %>
<% if user_signed_in? %>
  <li class="dropdown">
    <a class="dropdown-toggle btn btn-lg" data-toggle="dropdown" href="#">
      <%= current_user.name %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% if current_user.admin? %>
        <li><%= link_to "Users", users_path, class: 'btn btn-lg' %></li>
      <% end %>
      <li><%= link_to 'Profile', edit_user_registration_path, class: 'btn btn-lg' %></li>
      <li role="separator" class="divider"></li>
      <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-lg' %></li>
    </ul>
  </li>
<% else %>
  <li><%= link_to("Log In", "#sign_in", class: "btn btn-lg", data: { toggle: "modal", target: "#sign_in" }) %></li>
  <li><%= link_to("Sign Up", "#sign_up", class: "btn btn-lg", data: { toggle: "modal", target: "#sign_up" }) %></li>
<% end %>
