<ul class="list-group">
  <a><%= link_to "Categories", categories_path, class: "list-group-item #{active_class('categories')}" %></a>
  <a><%= link_to "Transactions", root_path, class: "list-group-item" %></li>
  <a><%= link_to "Statistics", root_path, class: "list-group-item" %></li>
  <a><%= link_to "Shared", root_path, class: "list-group-item" %></li>
  <a><%= link_to "Users", users_path, class: "list-group-item #{active_class('users')}" %></a>
</ul>
