<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Bookkeeper" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bookkeeper" %>" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="row-fluid">
      <div id="sidebar" class="sidebar-fixed">
        <div class="col-md-2">
          <% if current_user  %>
            <%= render "layouts/sidebar" %>
          <% end %>
        </div>
      </div>

      <div id="main">
        <div class="col-md-10">
          <div class="row">
            <%= render "layouts/messages" %>
            <%= render "layouts/sign_up_modal" %>
            <%= render "layouts/sign_in_modal" %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div><!-- -/row-offcanvas -->
  </body>
</html>
